* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

.Helpcenter-page {
    padding-top: 102px;
}

.help-hero {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.Help-Img {
    width: 100%;
    height: 100%;

}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000;
    max-width: 720px;
    padding: 0 20px;
}

.hero-content h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 18px;
    
}

.search-box {
    display: flex;
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
    max-width: 420px;
    margin: 0 auto;
}

.search-box input {
    flex: 1;
    border: none;
    padding: 10px 12px;
    outline: none;
    font-size: 14px;
}

.search-box button {
    background: #0b5ed7;
    border: none;
    padding: 0 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box button img {
    width: 16px;
}


.help-section {
    max-width: 1100px;
    margin: 60px auto;
    padding: 0 20px;
}

.section-title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 30px;
}

.help-layout {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    gap: 80px;
}

.hc-sidebar {
  width: 420px;
}

.hc-main-item {
  padding: 1rem;
  border-bottom: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  transition: all 0.2s ease;
}

.hc-main-item.active-main {
  background-color: #e7f3ff;
  border-color: #e7f3ff;
  color: #007bff;
}

.hc-arrow {
  border: solid #6c757d;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.hc-main-item.open .hc-arrow {
  transform: rotate(-135deg);
  margin-top: 3px;
}

.hc-submenu {
  padding: 0.5rem 0 0.5rem 1rem;
  margin: 0.5rem 2rem 1rem 0;
}

.hc-submenu-link{
    text-decoration: none;
}

.hc-submenu-item {
  padding: 0.9rem 1rem;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  border-radius: 6px;
  font-size: 0.95rem;
  color: #032240;
  transition: background 0.2s ease;
}

.hc-submenu-item:hover {
  background-color: #f3f7fb;
}


.support-options {
    display: flex;
    flex-direction: column;
    gap: 26px;

}

.support-options div {
    padding: 1rem;
    align-content: center;
    border-radius: 8px;
}

.support-item {
    font-size: 18px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.2s ease;
}

.support-item:hover {
    background-color: rgb(202, 201, 201);
}