
:root {
    --primary-blue: #3b82f6;
    --glow-shadow: rgba(59, 130, 246, 0.2);
    --border-color: #e2e8f0;
    --text-main: #0f172a;
    
}

.main-wrapper {
    background-color: #f8fafc;
    min-height: 100vh;
    padding-top: 102px;
    padding-bottom: 100px;
}

.ticket-page {
    font-family: 'Segoe UI', system-ui, sans-serif;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ticket-header {
    text-align: center;
    margin-bottom: 30px;
}

.ticket-header h1 {
    font-size: 2rem;
    color: var(--text-main);
    margin-bottom: 8px;
}

.ticket-header p {
    color: #64748b;
    font-size: 14px;
    margin: 2px;
}

.ticket-card {
    background: white;
    width: 100%;
    max-width: 750px;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid var(--border-color);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05);
}

.form-group {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 14px;
    color: #334155;
}

input,
textarea,
.custom-select,
.file-input {
    padding: 14px;
    border: 1.5px solid var(--border-color);
    border-radius: 10px;
    font-size: 0.95rem;
    transition: all 0.2s ease-in-out;
    outline: none;
    background-color: #fff;
}

input:focus,
textarea:focus {
    border-color: var(--primary-blue);
    box-shadow: 0 0 0 4px var(--glow-shadow);
}

.custom-select.open {
    border-color: var(--primary-blue);
    box-shadow: 0 0 0 4px var(--glow-shadow);
}

.custom-select {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-icon {
    width: 8px;
    height: 8px;
    border-right: 2px solid #64748b;
    border-bottom: 2px solid #64748b;
    transform: rotate(45deg);
    margin-bottom: 4px;

    transition: all 0.2s ease;
}

.custom-select.open .arrow-icon {
    transform: rotate(-135deg);
    border-color: var(--primary-blue);
    margin-bottom: -4px;
}

.options {
    position: absolute;
    top: 105%;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    z-index: 50;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.options.scrollable {
    max-height: 200px;
    overflow-y: auto;
}

.options li {
    padding: 12px 16px;
    border-bottom: 1px solid #f1f5f9;
    font-size: 14px;
}

.options li:hover {
    background-color: #f8fafc;
    color: var(--primary-blue);
}

.form-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.btn-cancel {
    padding: 12px 45px;
    border: 1px solid #fc8181;
    background: white;
    color: #f56565;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}

.btn-submit {
    padding: 12px 45px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s;
}

.btn-submit:hover {
    background: #1d4ed8;
}

.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(2px);
}

.modal {
    background: white;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    width: 350px;
}

.btn-yes {
    background: #e0f2fe;
    color: #0369a1;
    border: black;
    padding: 12px 30px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

.btn-no {
    background: #c5e0f3;
    color: #0369a1;
    border: black;
    padding: 12px 30px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

.success-msg {
    text-align: center;
    padding: 100px 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh; 
}

.success-msg img {
    width: 100%;
    max-width: 500px; 
    height: auto;
    margin-bottom: 30px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.success-msg h2 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 15px;
    color: #000;
}

.success-msg p {
    font-size: 1.2rem;
    color: #475569;
}

.status-container {
    margin-top: 102px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid var(--primary-blue);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}